<div class="masthead home-masthead">
  <p>Terrarium is an application that aims to provide an automated home
      mini-farming experience, and extrapole data gathered in these
      mini-greenhouses to commercial farmlands</p>
</div>

<div class="section home-features container">
  <h1>Fresh herbs for everyone.</h1>
  <p>Through growing your own terrarium using our system, you will be
      contributing valuable data for efficient farming techniques</p>

  <div class="row">
    <div class="col-lg-4">
      <h3>Optimized</h3>
      <p>Data provided by our terrarium helps to optimize various aspects of
      your home garden - water, fertilizer, sunlight, etc</p>
    </div>
    <div class="col-lg-4">
      <h3>Scalable</h3>
      <p></p>
    </div>
    <div class="col-lg-4">
      <h3>Contribution</h3>
    </div>
  </div>

</div>
